<div class="col-sm-6 col-md-3 p0">
    <div class="box-two proerty-item">
        <div class="item-thumb">
            <a [target]="!annonce.isForOwnerSite ? '_blank': '_self'" href="{{annonce.isForOwnerSite ? '/annonce/123': annonce.linkUrl }}">
                <img class="img-annonce" src="{{annonce.isForOwnerSite ? 'assets/img/demo/property-1.png': (annonce.images[0].url == 'property.png') ? 'assets/img/demo/property.png' : annonce.images[0].url }}">
            </a>
            <span> <b style="color: brown;">{{ annonce.typeAnnonce.libelle }}</b> - {{ annonce.lieu != null ? annonce.lieu : ' - '  }}</span>
        </div>

        <div class="item-entry overflow">
            <h5>
                <a [target]="!annonce.isForOwnerSite ? '_blank': '_self'" href="{{annonce.isForOwnerSite ? '/annonce/123': annonce.linkUrl }}"> {{ annonce.title.length > 23 ? (annonce.title| slice:0:22) + '...' : annonce.title }} </a></h5>
            <div class="dot-hr"></div>
            <span class="pull-left">
                <b>Surface :</b> {{ annonce.dimension != null ? annonce.dimension+'m' : '-'  }} 
            </span>
            <span class="proerty-price pull-right">
                {{ annonce.montant != null ? (annonce.montant | number) : ' - ' }} Fcfa
            </span>

            <p style="display: none;"></p>
            <div class="property-icon">
                <img src="assets/img/icon/bed.png"> {{ annonce.nbLit != null ? (annonce.nbLit | number) : ' - ' }} |
                <img src="assets/img/icon/shawer.png"> {{ annonce.nbDouche != null ? (annonce.nbDouche | number) : ' - ' }} |
                <img src="assets/img/icon/room.png"> {{ annonce.dimension != null ? annonce.dimension : ' - '  }}
            </div>
        </div>
    </div>
</div>