<div class="content-area blog-page padding-top-40" style="background-color: #FCFCFC; padding-bottom: 55px;">
    <div class="container">
        <div class="row">
            <div class="blog-lst col-md-9 p0">
                <section id="id-100" class="post single">
                    <div class=" wizard-header">
                        <h3>
                            <b>MODIFIER</b> votre profil <br>
                            <small>Changer votre informations.</small>
                        </h3>
                        <hr>
                    </div>

                    <!-- <div class="tab-content"> -->
                    <div class="row p-b-15">

                        <!-- notifications -->
                        <div *ngIf="isUpdated == 1" class="alert alert-success" role="alert">
                            La mise à jour a été effectuée avec succes.
                        </div>
                        <div *ngIf="isUpdated == 0" class="alert alert-danger" role="alert">
                            Cette adresse e-mail est déjà utilisée.
                        </div>

                        <form [formGroup]="formUpdate" #ngForm="ngForm" (ngSubmit)="submitForm()">
                            <div class="col-sm-4">
                                <div class="picture-container">
                                    <div class="picture">
                                        <img src="assets/img/default-property.jpg" class="picture-src" id="wizardPicturePreview" title="" />
                                        <!-- <input type="file" id="wizard-picture"> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Nom <small>(obligatiore)</small></label>
                                    <input formControlName="nom" type="text" class="form-control">
                                    <div *ngIf="formUpdate.controls['nom'].errors && (ngForm.submitted  || formUpdate.touched)"
                                        class="text-danger">
                                        Champs incorrect.
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Prenom <small>(obligatiore)</small></label>
                                    <input formControlName="prenom" type="text" class="form-control">
                                    <div *ngIf="formUpdate.controls['prenom'].errors && (ngForm.submitted  || formUpdate.touched)"
                                        class="text-danger">
                                        Champs incorrect.
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Email <small>(obligatiore)</small></label>
                                    <input formControlName="email" type="email" class="form-control">
                                    <div *ngIf="formUpdate.controls['email'].errors && (ngForm.submitted  || formUpdate.touched)"
                                        class="text-danger">
                                        Champs incorrect.
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="pull-right">
                                    <input type='submit' class='btn btn-primary' value='Mettre rr à jour'>
                                </div>
                            </div>

                        </form>
                    </div>
                </section>
            </div>

            <div class="blog-asside-right col-md-3">
                <div class="panel sidebar-menu wow  fadeInRight animated">
                    <div class="panel-heading">
                        <h3 class="panel-title">Menu</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="tag-cloud">
                            <li><a routerLink="/dashboard/profil"><i class="fa fa-tags"></i> Voir mon profil</a></li>
                            <li><a routerLink="/dashboard/add-annonce"><i class="fa fa-tags"></i> Ajouter une annonce</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>